.vscode
LLMs-Server.code-workspace
LLMs-Endpoint/.env
LLMs-Endpoint/.vscode
LLMs-Endpoint/models
LLMs-Endpoint/finetune-results
LLMs-Endpoint/trained-model
LLMs-Endpoint/app/XVolatile.egg-info
BackendAPI-Node/.vscode
BackendAPI-Node/node_modules
BackendAPI-Node/node_modules/@types